[report]
exclude_lines =
    # Not called from coverage tests
    if __name__ == .__main__.:

    # Untestable from a working environment
    except AttributeError:
    except NameError:
    except OSError:
    raise ImportError.*

    # Inlined, so not called
    def R.*:

    # Not used, left in for completeness
    if False:

    # Duh...
    def run_tests

